@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading{
    margin-top: 1rem;
    color: azure;
    margin-bottom: 3rem;
    position: relative;
}
h1{
    font-family: 'Share Tech Mono', monospace;
    font-size: 4rem;
    text-align: center;
}
body{
    position: relative;
    background: url("matrix.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
::-webkit-scrollbar{
    display: none;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

.box{
    background-color: #110e0e;
    font-size: 1.5rem;
    width: 40%;
    color: aliceblue;
    min-width: 80%;
}
.container{
    padding: 1rem;
    position: relative;
}

input[type="text"]{
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
}
input[type="checkbox"]{
    transform: scale(2);
}
.popup{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 1rem;
}
.options{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.option-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 2rem;
    transition: all 0.2s;
    cursor: pointer;
    padding: 0.5rem;
}
button:hover{
    background-color: rgb(33, 144, 6);
}
.howto{
    color: aliceblue;
    background: black;
    margin-top: 2rem;
    padding: 0.5rem;
}
.footer-ul{
    list-style: none;
}
.footer-ul li{
    padding: 0.5rem;
    font-size: 1.5rem;
    padding-left: 1rem;
}
.footer-heading{
    margin: 2rem auto;
}